<div class="headerbg">
  <nav class="navbar">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <div>
            <a routerLink="/">
              <img src="assets/images/logo.png" class="logo">
            </a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="nav navbar">
            <ul class="list-inline">
              <li class="list-inline-item active"><a href="#">Home</a></li>
              <li class="list-inline-item"><a href="#">About</a></li>
              <li class="list-inline-item"><a href="#">Features</a></li>
              <li class="list-inline-item"><a href="#">Career</a></li>
              <li class="list-inline-item"><a href="#">Blog</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="login float-right">
              <a routerLink="/login" class="btn btn-link">LOGIN</a>
              <a routerLink="/signup" class="btn btn-link">Sign Up</a>
            </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="headerbg__text">
    <div class="container">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <a href="#" class="btn btn-info">Start Here</a>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>
  <div class="headerbg__diagonal"></div>
  <div class="headerbg__fg">
    <img src="assets/images/homepage-fg.png" class="headerbg__fg--image">
  </div>
</div>
<div class="featured">
  <div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">

      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</div>
<div class="works">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>&nbsp;</p>
        <a href="#" class="btn btn-info">Learn More</a>
      </div>
    </div>
  </div>
</div>
<div class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <div class="testimonials__text">

        </div>
      </div>
      <div class="col-sm-5">
        <div class="testimonials__text">

        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
</div>
<div class="parallax">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <a href="#" class="btn btn-info">Sign Up</a>
      </div>
    </div>
  </div>
</div>

<footer-app></footer-app>
